---
interface Props {
	servizio : {
      denominazione: string,
      descrizioneServizio: string,
      isAvailable: boolean,
      buttonLink: string,
      buttonTxt: string,
   }
}

const { servizio } = Astro.props;
---
<article class="flex gap-4 bg-white md:flex-row md:border md:border-gold items-center justify-center lg:max-w-[1200px] rounded-3xl px-4 md:px-0">
   <div class="card_image flex items-center justify-center relative" >
      <img src={servizio.denominazione === 'Consulenze' ? 'https://res.cloudinary.com/dk6qm2dhs/image/upload/f_auto/q_auto/v1/homepage/mreklf24albfwwi0qjkn' : 
                  servizio.denominazione === 'Trattamenti' ? 'https://res.cloudinary.com/dk6qm2dhs/image/upload/f_auto/q_auto/v1/homepage/pttl7dfhoeftlbg1hcdv' : "https://res.cloudinary.com/dk6qm2dhs/image/upload/f_auto/q_auto/v1/homepage/yo19b083ioenghgiigts"}
            alt={`Rappresentazione ${servizio.denominazione}`} 
            loading="lazy" decoding="async"
      />
      <div class="bg-white/70 backdrop-blur rounded-3xl flex flex-col absolute mx-4 my-auto py-2 md:hidden">
         <h4 class="text-center text-3xl md:text-4xl playfair px-4 py-2 text-main/80">{servizio.denominazione}</h4>
         <div set:html={servizio.descrizioneServizio} class="text-center text-main/80 px-4 md:px-12 py-2 md:py-4 text-sm md:text-base"></div>
         <div class="w-full h-full flex justify-center items-center md:items-start px-4">
            {servizio.isAvailable ? (
               <a href={servizio.buttonLink} class="button spacing">{servizio.buttonTxt}</a>
            ) : (<button class="button-not-available spacing">Non disponibili</button>)}
         </div>
      </div>
   </div>
   <div class="hidden bg-white/70 backdrop-blur rounded-3xl md:flex flex-col items-center justify-center h-full">
      <h4 class="text-center text-3xl md:text-4xl playfair px-4 py-2 text-main/80">{servizio.denominazione}</h4>
      <div set:html={servizio.descrizioneServizio} class="text-center text-main/80 px-4 md:px-12 lg:px-20 py-2 md:py-4 text-sm md:text-base lg:text-lg"></div>
      <div class="w-full h-full flex justify-center items-center md:items-start px-4">
         {servizio.isAvailable ? (
            <a href={servizio.buttonLink} class="button spacing">{servizio.buttonTxt}</a>
         ) : (<button class="button-not-available spacing">Non disponibili</button>)}
      </div>
   </div>
</article>
<style>
   .card_image > img{
      border-radius: 1.5rem;
      border: solid 1px #d5b33d;
      transform: scale(1.05);
   }
   @media screen and (max-width: 768px) {
      .card_image > img {
         transform: scale(1.00);
      }
   }
</style>