---
interface Props {
	servizio : {
      denominazione: string,
      descrizioneServizio: string,
      isAvailable: boolean,
      buttonLink: string,
      buttonTxt: string,
   }
}

const { servizio } = Astro.props;
---
<article class="card lg:card-side shadow-md drop-shadow-md border border-gold bg-white">
   <figure>
         <img src={servizio.denominazione === 'Consulenze' ? 'https://res.cloudinary.com/dk6qm2dhs/image/upload/w_400/f_auto/q_auto/v1/homepage/mreklf24albfwwi0qjkn' : 
                     servizio.denominazione === 'Trattamenti' ? 'https://res.cloudinary.com/dk6qm2dhs/image/upload/w_400/f_auto/q_auto/v1/homepage/pttl7dfhoeftlbg1hcdv' : "https://res.cloudinary.com/dk6qm2dhs/image/upload/w_400/f_auto/q_auto/v1/homepage/yo19b083ioenghgiigts"}
               alt={`Rappresentazione ${servizio.denominazione}`} 
               loading="lazy" decoding="async"
               class="w-full h-full object-cover"
         />
      </figure>
      <div class="card-body lg:w-1/2">
         <h4 class="text-center text-3xl md:text-4xl playfair px-4 py-2 text-main/80">{servizio.denominazione}</h4>
         <div set:html={servizio.descrizioneServizio} class="text-center text-main/80 px-4 md:px-12 py-2 md:py-4 text-sm md:text-base"></div>
         <div class="w-full h-full flex justify-center items-center md:items-start px-4">
            {servizio.isAvailable ? (
               <a href={servizio.buttonLink} class="button spacing">{servizio.buttonTxt}</a>
            ) : (<button class="button-not-available spacing">Non disponibili</button>)}
         </div>
      </div>
</article>