---
import fetchNotionData from "../../utils/fetchNotionData"
import type {Block} from "../../interfaces/tableRow";
import { Image } from "astro:assets";
import { marked } from "marked";
import Section from "./components/Section.astro";

const aboutSectionEnv = import.meta.env.ABOUT_SECTION_BLOCK;
const data = await fetchNotionData(aboutSectionEnv, "blocks", true);

const results = data.results.map((list: Block) => {
  if (list && list.table_row && list.table_row.cells && list.table_row.cells[1] && list.table_row.cells[1][0]) {
    return list.table_row.cells[1][0].plain_text;
  }
  return "";
})

const section = {
   titoloDellaPagina: results[0] || '',
   sottotitoloDellaPagina: results[1] || '',
   titoloBiografia: results[2] || '',
  descrizioneBiografia: marked.parse(results[3]) || '',
  titoloLogo: results[4] || '',
  descrizioneLogo: marked.parse(results[5]) || ''
};
---
<Section ariaLabel="Scopri chi sono e il mio progetto" title="Biografia & Logo" subtitle="Identità" bgIce={false}>
   <div class="grid lg:grid-cols-2 grid-cols-1 w-full h-min place-items-center gap-6">
      <div class="flex flex-col items-center justify-center max-w-[600px]">
         <div class="max-w-[300px] p-6 rounded-full">
            <Image width={300} height={300} src={'https://res.cloudinary.com/dk6qm2dhs/image/upload/f_auto,q_70/v1/homepage/dsjwmxyzc34ccnlyi36u'} alt="logo"/>
         </div>
         <h4 class="playfair text-3xl text-main/80">{section.titoloBiografia}</h4> 
         <div class="px-8 text-center py-6 text-zinc text-sm md:text-base" set:html={section.descrizioneBiografia}></div>
         <a href="/" class="button spacing">
            scopri di più
         </a>
      </div>
      <div class="flex flex-col items-center justify-center max-w-[600px]">
         <div class="max-w-[300px] p-6 rounded-full">
            <Image width={300} height={300} src={'https://res.cloudinary.com/dk6qm2dhs/image/upload/f_auto,q_70/v1/homepage/dsjwmxyzc34ccnlyi36u'} alt="logo"/>
         </div>
         <h4 class="playfair text-3xl text-main/80">{section.titoloLogo}</h4>
         <div class="px-8 text-center py-6 text-zinc text-sm md:text-base" set:html={section.descrizioneLogo}></div>
         <a href="/" class="button spacing">
            scopri di più
         </a>
      </div>
   </div>
</Section>
