---
import type {Block} from '../../interfaces/tableRow';
import fetchNotionData from '../../utils/fetchNotionData';
import { Image } from 'astro:assets';

const defaultTitoli : String[] = ["Consulente Olistica", "Operatrice Bioenergetica", "Ricercatrice Spirituale"];
const firstSection = import.meta.env.MAIN_TITLE_BLOCK
const titoliDiStudio = import.meta.env.TABLE_TITLES_BLOCK
const hiddenTitle = import.meta.env.HIDDEN_TITLE_BLOCK

const response = await fetchNotionData(firstSection,'blocks', false);
const responseTitoli = await fetchNotionData(titoliDiStudio,'blocks', true);
const responseHidden = await fetchNotionData(hiddenTitle,'blocks', false);

const denominazione = response.heading_1.rich_text[0].text.content || "Romina Fabi";
const titoli : String[] = responseTitoli.results.map((row : Block) => {
	return row.table_row.cells![1][0].plain_text
}) || defaultTitoli;

const titoliConcatenati = titoli.join(", ");

const hidden = responseHidden.heading_3.rich_text[0].text.content || "Studio Olistico di Romina Fabi"
---
<section class="h-screen w-screen flex justify-center items-center">
   <div class="flex flex-col justify-center items-center">
      <h1 class="sr-only">{hidden}</h1>
      <h2 class="text-8xl py-2">{denominazione}</h2>
      <astro-titles id="typewriter" data-titoli={titoli} aria-hidden="true" class="text-xl uppercase tracking-widest py-4" />
      <h3 class="sr-only">{titoliConcatenati}</h3>
   </div>
</section>
<script>
	import Typewriter from "typewriter-effect/dist/core"
	class AstroTitles extends HTMLElement {
   	constructor() {
			super();

			const titoli = this.dataset.titoli || "Consulente Olistica, Operatrice Bioenergetica, Ricercatrice Spirituale";
			let array = titoli.split(",");

			new Typewriter('#typewriter', {
				strings: array,
				autoStart: true,
				loop: true,
				cursor: "",
				delay: 60,
			});
    	}
  }
  customElements.define('astro-titles', AstroTitles);
</script>
<style>
   .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

</style>